<ng-container *ngFor="let item of layoutService.links$ | async">
  <app-workspace-connection-link
    [ngStyle]="{
      'left.px': item.target.childParent?.left || item.source.left,
      'top.px': (item.target.childParent?.top || item.source.top) + 100
    }"
    [origin]="item.source"
    [link]="item.target"
  ></app-workspace-connection-link>
</ng-container>

<ng-container cdkDropListGroup>
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="item"
    class="position"
    *ngFor="
      let item of layoutService.items$ | async | keyvalue;
      trackBy: trackByID
    "
    [ngStyle]="{
      transform:
        'translate3d(' + item.value.left + 'px, ' + item.value.top + 'px, 0)'
    }"
  >
    <app-workspace-node-leaf-fixed
      cdkDrag
      (init)="createDraftNode(item.value.id)"
      (expand)="expandItem($event)"
      (open)="openNode(item)"
      (mouseenter)="setActiveNode(item.value)"
      (mouseleave)="clearActiveNode()"
      (end)="cancelDraftNode()"
      [cdkDragData]="item.value"
      [item]="item.value"
      >{{ item.value.id }}
      <div slot="drag-handle" class="hack_drag_handle" cdkDragHandle></div>
      <div class="fixed-leaf-placeholder" *cdkDragPlaceholder></div>
    </app-workspace-node-leaf-fixed>
  </div>
</ng-container>

<app-workspace-connection-layer></app-workspace-connection-layer>
