@import 'src/styles/settings/settings';

:host {
  position: relative;
  margin: $spacing-m $spacing-m;


  & > div {
    position: absolute;
  }

  .position {
    will-change: transform;
  }
}
