@import 'src/styles/settings/settings';
@import 'src/styles/objects/label';

:host {
  padding: $spacing-m;

  display: flex;
  flex-direction: column;

  width: 300px;

  @include label();

  h4 {
    margin: 0 0 $spacing-m;
    font-weight: 400;
  }
}
