<button class='close-btn' mat-icon-button (click)="close(true)">
  <mat-icon>close</mat-icon>
</button>

<header>
  <h3>Attach a Node to {{parentId}}</h3>
  <p>Search for the node you want to attach</p>
</header>
<app-query-search-field
  [fields]="fields"
  [links]="links"
  (results)="searchNodes($event)"
></app-query-search-field>

<mat-action-list>
  <button *ngFor="let item of searchResults | slice: 0:5" mat-list-item>
    {{ item.accountName }}
  </button>
</mat-action-list>


<button (click)="addNode()" mat-button>Add</button>
