@import 'src/styles/settings/settings';

:host {
  --rowNum: 1;
  --colNum: 3;
  --gridHeight: 150px;
  --wrapperH: 40px;

  display: flex;
  flex-direction: column;


  & > app-workspace-node-root {
    margin-bottom: 48px;
  }
  .workspace-grid {
    // height: var(--wrapperH);
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), auto);
    grid-gap: 5px;
    display: grid;

    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  }

  .grid-item {
    position: relative;
    grid-column-start: auto;
    grid-row-start: auto;
    display: flex;
    height: var(--gridHeight);

    app-workspace-node-leaf,
    app-workspace-node-empty {
      margin-right: $spacing-m;
      margin-bottom: $spacing-m;

    }

  }
}
