<mat-sidenav-container class="container" (backdropClick)="sideNavClosing()">
  <mat-sidenav position="start" mode="side" [opened]="isStartSideOpen">
    <router-outlet
      (deactivate)="toggleStartSideEnd(false)"
      (activate)="toggleStartSideEnd(true)"
      class="side"
      name="startside"
    ></router-outlet>
  </mat-sidenav>
  <mat-sidenav position="end" mode="side" [opened]="isEndSideOpen">
    <router-outlet
      (deactivate)="toggleEndSideNav(false)"
      (activate)="toggleEndSideNav(true)"
      class="side"
      name="endside"
    ></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content><ng-content></ng-content></mat-sidenav-content>
</mat-sidenav-container>
