@import 'src/styles/settings/settings';

:host {
  position: relative;
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  background-color: $color-page-bg;

  min-width: 100%;
  min-height: 100%;

  svg {
    path {
      stroke-width: 3;
      stroke: $color-dark-blue;
      fill: none;
    }
  }

}
