<div
  class="node node-type--{{ getType() }}"
  [class.node--grouped]="item._children"

>
  <div class="node__extender node__extender--top">
    <ng-container>
      <ng-content select="[slot=drag-handle]"></ng-content>
    </ng-container>
  </div>
  <section (click)="openNode()" class="node__content">
    <header *ngIf="item.data.type !== types.draft">
      {{ getType() }} <ng-content></ng-content>
    </header>
  </section>

  <div
    #el
    (mousedown)="startLine($event, el)"
    class="node__extender node__extender--btm"
  ></div>
</div>
