$color-almost-white: #f7f7f7;
$color-light-gray: #efefef;
$color-med-gray: #acabab;

$color-page-bg: #F6F6F6;

$color-dark-blue: #11151C;
$color-yellow: #EEC643;
$color-red : #DB5461;

$color-gray: #EEF0F2;

$color-green-gradient: linear-gradient(90deg, #007942 0%, #00AC7B 100%);

