$color-almost-white: #f7f7f7;
$color-light-gray: #efefef;
$color-med-gray: #acabab;

$color-page-bg: #F6F6F6;

$color-dark-blue: #11151C;
$color-yellow: #EEC643;
$color-red : #DB5461;

$color-gray: #EEF0F2;
$color-gray-dark: #eef0f2;

$color-green: #00AC7B;

$color-green-gradient: linear-gradient(90deg, #007942 0%, #00AC7B 100%);

$color-light-blue: #606067;


$color-black: #333333;
// $color-dark-blue: #283340;
// $color-gray: #4d4d4d;

$color-orange: #e9721c;

$color-text-gray: #b3b3b3;
$color-text-blue: #283340;

$color-table-row: rgba(241, 243, 246, 1);
$color-table-hover: #edf8f6;

$color-page-bg: #f1f3f6;
$color-header-bg: #f8fafd;

$color-border: #cfd5dc;
