$bnp-primary: (
  50: #e2f4f2,
  100: #a2e2cd,
  200: #62d1a9,
  300: #22bf84,
  400: #11a86f,
  500: #00915a,
  600: #028559,
  700: #047957,
  800: #046a4e,
  900: #035a44,
  A100: #92ffbb,
  A200: #5fff9c,
  A400: #2cff7c,
  A700: #13ff6c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$bnp-secondary: (
  50: #f1f3f6,
  100: #edeff2,
  200: #e9ecef,
  300: #e5e8eb,
  400: #dadfe4,
  500: #cfd5dc,
  600: #b1b9c3,
  700: #939ca9,
  800: #7c8592,
  900: #656e7b,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fcfeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$bnp-black: (
  50: #e5e7e8,
  100: #bfc2c6,
  200: #9499a0,
  300: #697079,
  400: #48525d,
  500: #283340,
  600: #242e3a,
  700: #1e2732,
  800: #18202a,
  900: #0f141c,
  A100: #5f9fff,
  A200: #2c80ff,
  A400: #0063f8,
  A700: #0059df,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);


$bnp-blue: (
  50 : #e5e7e8,
  100 : #bfc2c6,
  200 : #9499a0,
  300 : #697079,
  400 : #48525d,
  500 : #283340,
  600 : #242e3a,
  700 : #1e2732,
  800 : #18202a,
  900 : #0f141c,
  A100 : #5f9fff,
  A200 : #2c80ff,
  A400 : #0063f8,
  A700 : #0059df,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$bnp-warning: (
    50 : #fef2f2,
    100 : #fddede,
    200 : #fbc8c8,
    300 : #f9b2b2,
    400 : #f8a2a2,
    500 : #f79191,
    600 : #f68989,
    700 : #f57e7e,
    800 : #f37474,
    900 : #f16262,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff7f7,
    A700 : #ffdede,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
