$etf-blue: (
  50: #ebf4ff,
  100: #cce3fe,
  200: #aad1fe,
  300: #88befe,
  400: #6fb0fd,
  500: #55a2fd,
  600: #4e9afd,
  700: #4490fc,
  800: #3b86fc,
  900: #2a75fc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d4e2ff,
  A700: #bad1ff,
  contrast: (
    50: #12192f,
    100: #12192f,
    200: #12192f,
    300: #12192f,
    400: #12192f,
    500: #f7f7f7,
    600: #f7f7f7,
    700: #f7f7f7,
    800: #f7f7f7,
    900: #f7f7f7,
    A100: #12192f,
    A200: #12192f,
    A400: #12192f,
    A700: #12192f
  )
);
$bnp-green: (
  50: #e0f2eb,
  100: #b3dece,
  200: #80c8ad,
  300: #4db28c,
  400: #26a273,
  500: #00915a,
  600: #008952,
  700: #007e48,
  800: #00743f,
  900: #00622e,
  A100: #92ffbb,
  A200: #5fff9c,
  A400: #2cff7c,
  A700: #13ff6c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$etf-green: (
  50: #f2fff8,
  100: #dffeee,
  200: #c9fde2,
  300: #b3fcd6,
  400: #a3fcce,
  500: #93fbc5,
  600: #8bfabf,
  700: #80fab8,
  800: #76f9b0,
  900: #64f8a3,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #e6fff1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$etf-darkblue: (
  50: #e4e6ea,
  100: #bdc0cb,
  200: #9196a8,
  300: #646b85,
  400: #434c6a,
  500: #222c50,
  600: #1e2749,
  700: #192140,
  800: #141b37,
  900: #0c1027,
  A100: #657bff,
  A200: #324fff,
  A400: #0024fe,
  A700: #0021e5,
  contrast: (
    50: #12192f,
    100: #12192f,
    200: #12192f,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #12192f,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$etf-white: (
  50: #fefefe,
  100: #fefefe,
  200: #fdfdfd,
  300: #fcfcfc,
  400: #fbfbfb,
  500: #fafafa,
  600: #f9f9f9,
  700: #f9f9f9,
  800: #f8f8f8,
  900: #f6f6f6,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #12192f,
    100: #12192f,
    200: #12192f,
    300: #12192f,
    400: #12192f,
    500: #12192f,
    600: #12192f,
    700: #12192f,
    800: #12192f,
    900: #12192f,
    A100: #12192f,
    A200: #12192f,
    A400: #12192f,
    A700: #12192f
  )
);

$etf-yellow: (
  50: #fff7e8,
  100: #ffeac7,
  200: #ffdca1,
  300: #ffce7b,
  400: #ffc45f,
  500: #ffb943,
  600: #ffb23d,
  700: #ffaa34,
  800: #ffa22c,
  900: #ff931e,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe6ce,
  A700: #ffd9b4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
