@import 'src/styles/settings/settings';

:host {
  // position: absolute;
  position: relative;

  .node {
    width: 220px;
    min-height: 80px;
    background-color: $color-dark-blue;
    padding: $spacing-s;
    color: $color-gray;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    box-sizing: border-box;
    background-color: $color-dark-blue;

    font-weight: 300;


    box-shadow: 0 2px 12px 0 rgba(52,52,63,0.38);


    &__extender {
      cursor: grab;
      &:active {
        cursor: move;
      }
      &--btm {
        background-color: $color-dark-blue;

        position: absolute;
        bottom: -9px;
        left: 50%;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-9px);

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          left: 50%;
          top: 50%;
          height: 6px;
          border-radius: 50%;
          transform: translate(-3px, -3px);
          background-color: #F6F6F6;
        }
      }
    }
  }
}
