@import 'src/styles/settings/settings';

:host {
  z-index: 0;
  top: 110px;
  position: absolute;
  margin-left: 106px;

  svg {

    &.reverse {
      transform: translate(-100%);
    }
   
    path {
      stroke-width: 3;
      stroke: #D8D8D8;
      fill: none;
    }
  }
}