@import 'src/styles/settings/settings';

:host {
  mat-toolbar {
    background-color: white;
  }
  mat-toolbar-row {
    padding: 0;
    display: flex;
  }

  mat-select {
    width: 280px;
  }

  a {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: $spacing-s;
    &.active {
      font-weight: 800;
    }
  }

  .gap {
    flex: 1 1 auto;
  }

  button {
    margin-left: $spacing-s;
  }
}
