@import './styles/settings/settings';
@import './styles/theme/theme';
@import './styles/assets/fonts';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    text-decoration: none;
    color: #333333;
}