@import 'src/styles/settings/settings';

:host {
  display: flex;
  width: 100%;
  flex-direction: column;

  .indicator {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 20px;
    justify-content: space-between;
    margin: $spacing-s 0 $spacing-s;
  }

  .line {
    width: 100%;
    height: 1px;
    position: absolute;
    top: calc(50%);
    left: 0;
    z-index: 0;
    background-color: $color-gray-dark;
  }

  .status-indicator {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: $color-gray-dark;

    &.active {
      width: 20px;
      height: 20px;
      background-color: $color-green;

      &.status-indicator-type {
        &--expired {
          background-color: $color-red;
        }
      }
    }

   
  }

  label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
  }
}
